body {
   font-family: "Oswald", 'sans-serif'; 
   margin: 0;
}

header {
    background-color: #e77641;
    width: 100%;
    margin: 0;
    padding: 1em;
}

header h1 {
    font-size: 2rem;
    margin: 0;
    color: #fff;
}