body {
   font-family: "Oswald", 'sans-serif'; 
   margin: 0;
}

header {
    background-color: #e77641;
    padding: 1em;
}

header h1 {
    font-size: 2rem;
    margin: 0;
    color: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

svg {
    padding: 1em;
    align-self: baseline;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: #e77641;
    margin: 0.5em;
    padding: 0.1em;
}

.link:hover {
    background-color: rgba(231, 118, 65, 0.2);
}

.header-link {
    color: #fff;
    margin: 0;
    padding: 0;
}

.header-link:hover {
    color:rgba(53, 45, 42, 0.822);
}